.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("https://images.unsplash.com/photo-1484069560501-87d72b0c3669?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=5184&q=3456");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.alles_Box {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	position: relative;
	width: 1140px;
	top: -292px;
	left: -110px;
	height: 600px;
	text-align: center;
}

.linke_Box {
	background-color: rgba(125.37500202655792, 62.165105044841766, 62.165105044841766, 0.4000000059604645);
	width: 100px;
	height: 300px;
	position: absolute;
	left: 250px;
	top: 350px;
}

.rechte_Box {
	background-color: rgba(125.37500202655792, 62.165105044841766, 62.165105044841766, 0.4000000059604645);
	width: 100px;
	height: 300px;
	position: absolute;
	left: 1031px;
	top: 350px;
}

.Question_Box {
	background-color: rgba(206, 53, 53, 0.100);
	width: 393px;
	height: 175px;
	position: absolute;
	left: 500px;
	top: 350px;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.55); 
	border-radius: 15px;
	color: aliceblue;
}

.Question_Txt {
	color: rgba(255, 255, 255, 1);
	width: 400px;
	height: 20px;
	position: absolute;
	left: 490px;
	top: 400px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
	font-family: 'Orbitron', sans-serif;
}

.btn {
	background-color: rgba(20, 174, 92, 0.300);
	width: 175px;
	height: 50px;
	position: absolute;
	left: 475px;
	border: 3px solid #ff000080;
	padding: 10px;
	margin: 10px 0;
	text-align: center;
	border-radius: 15px;
	cursor: pointer;
	color: aliceblue;
	font-size: 13px;
	font-family: 'Orbitron', sans-serif;
}

.btn:nth-child(1) {
	top: 530px;
}

.btn:nth-child(2) {
	top: 530px;
	left: 743px;
}

.btn:nth-child(3) {
	top: 600px;
}

.btn:nth-child(4) {
	top: 600px;
	left: 743px;
}

button:hover {
	background-color: rgba(20.000000707805157, 174.00000482797623, 92.00000211596489, 1);
}

.Timer_Überschrift {
	color: rgba(255, 0, 0);
	width: 55px;
	height: 24px;
	position: absolute;
	left: 270px;
	top: 355px;
	text-align: left;
	font-size: 19px;
	letter-spacing: 0;
	font-family: 'Orbitron', sans-serif;
	text-shadow: 2px 2px black;
}

.Timer_Kreis {
	border-radius: 500px;
	background-color: rgba(0, 0, 0);
	width: 70px;
	height: 70px;
	position: absolute;
	left: 262px;
	top: 385px;
	border: 3px solid #ff0000;
}

.Timer_Zahl {
	color: rgb(255, 0, 0);
	width: 37px;
	height: 19px;
	position: absolute;
	left: 277px;
	top: 408px;
	font-family: Inter;
	text-align: center;
	font-size: 17px;
	letter-spacing: 0;
	border: 4px solid #ff0000;
	border-radius: 150px;
	font-family: 'Orbitron', sans-serif;
}

.Score_Überschrift { 
	color:rgba(117, 18, 246, 1);
	width: 55px;
	height: 24px;
	position: absolute;
	left: 1048px;
	top: 355px;
	text-align: left;
	font-size: 19px;
	letter-spacing: 0;
	text-shadow: 2px 2px black;
	font-family: 'Orbitron', sans-serif;
}
.Score_Kreis { 
	border-radius: 500px;
	background-color:rgba(18.474213480949402, 227.37499594688416, 14.21093724668026, 1);
	width: 70px;
	height: 70px;
	position: absolute;
	left: 1045px;
	top: 385px;
	border: 4px solid #000000;
	font-family: 'Orbitron', sans-serif;
}
.Score_Zahl { 
	color:rgb(117, 18, 246);
	width: 81px;
	height: 48px;
	position: absolute;
	left: 1043px;
	top: 413px;
	text-align:center;
	font-size: 17px;
	letter-spacing:0;
	font-family: 'Orbitron', sans-serif;
}

.Start_Kreis {
	border-radius: 500px;
	background-color: rgba(24, 92, 56, 0.85);
	width: 70px;
	height: 70px;
	position: absolute;
	left: 265px;
	top: 565px;
	cursor: pointer;
	pointer-events: auto;
}

.Start_Button {
	background-color: rgba(24, 92, 56, 0.85);
	border-radius: 500px; 
	color:rgb(0, 0, 0);
	width: 70px;
	height: 70px;
	position:absolute;
	left: 265px;
	top: 565px;
	text-align: center;
	font-size: 17px;
	letter-spacing: 0;
	border: 4px solid #222;
	font-family: 'Orbitron', sans-serif;
}
.Start_Button:hover {
	background-color: rgba(20.000000707805157, 174.00000482797623, 92.00000211596489, 1);
}
.Skip_Button {
	background-color: rgb(126, 12, 12);
	border-radius:500px;
	color:rgb(0, 0, 0);
	width: 70px;
	height: 70px;
	position:absolute;
	left: 1045px;
	top: 565px;
	text-align: center;
	font-size: 17px;
	border: 4px solid #222;
	font-family: 'Orbitron', sans-serif;
}
.Skip_Button:hover{
	background-color: red;
}
.Skip_Kreis {
	border-radius:500px;
	background-color:rgb(126, 12, 12);
	width: 70px;
	height: 70px;
	position:absolute;
	left: 1045px;
	top: 565px;
	}