.e30_68 { 
	overflow:hidden;
}
.e30_68 { 
	width:1440px;
	height:1024px;
	position:absolute;
}
.e30_27 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}
.Hintergrund_Bild { 
	width:1440px;
	height:1024px;
	position:fixed;
	left:0px;
	top:0px;
	min-width: 100%;
    min-height: 100%;
}
.linke_Box { 
	background-color:rgba(125.37500202655792, 62.165105044841766, 62.165105044841766, 0.4000000059604645);
	width:200px;
	height:600px;
	position:absolute;
	left:0px;
	top:212px;
}
.rechte_Box { 
	background-color:rgba(125.37500202655792, 62.165105044841766, 62.165105044841766, 0.4000000059604645);
	width:200px;
	height:600px;
	position:absolute;
	left:1240px;
	top:212px;
}
.Question_Box { 
	background-color:rgba(206, 53, 53, 0.300);
	width:900px;
	height:300px;
	position:absolute;
	left:265px;
	top:210px;
    text-align:center;
    border-radius: 4px;
    color: aliceblue;
    }
	
	.btn {
		background-color: rgba(20, 174, 92, 0.300);
		width: 400px;
		height: 100px;
		position: absolute;
		left: 265px;
		border: 1px solid #222;
		padding: 10px;
		margin: 10px 0;
		text-align: center;
		border-radius: 4px;
		cursor: pointer;
		color: aliceblue;
		font-size: 30px;
	  }
	  
	  .btn:nth-child(1) {
		top: 560px;
	  }
	  
	  .btn:nth-child(2) {
		top: 560px;
		left: 765px;
	  }
	  
	  .btn:nth-child(3) {
		top: 680px;
	  }
	  
	  .btn:nth-child(4) {
		top: 680px;
		left: 765px;
	  }

button:hover {
    background-color:rgba(20.000000707805157, 174.00000482797623, 92.00000211596489, 1);
}

.Score_Überschrift { 
	color:rgba(255, 255, 255, 1);
	width:130px;
	height:48px;
	position:absolute;
	left:1285px;
	top:232px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.Score_Kreis { 
	border-radius:500px;
	background-color:rgba(18.474213480949402, 227.37499594688416, 14.21093724668026, 1);
	width:150px;
	height:150px;
	position:absolute;
	left:1275px;
	top:280px;
}
.Score_Zahl { 
	color:rgb(117, 18, 246);
	width:81px;
	height:48px;
	position:absolute;
	left:1290px;
	top:331px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}


.Kreis_Timer { 
	border-radius:500px;
	background-color:rgba(155.24899899959564, 153.30838233232498, 153.30838233232498, 1);
	width:150px;
	height:150px;
	position:absolute;
	left:25px;
	top:280px;
}

.Kreis_Falsch { 
	border-radius:500px;
	background-color:rgba(218.87500405311584, 30.095312297344208, 30.095312297344208, 1);
	width:150px;
	height:150px;
	position:absolute;
	left:1275px;
	top:609px;
}
.Kreis_QPH {
	border-radius: 500px;
	background-color: rgba(155.00000596046448, 153.00000607967377, 153.00000607967377, 1);
	width: 150px;
	height: 150px;
	position: absolute;
	left: 25px;
	top: 609px;
	cursor: pointer;
	pointer-events: auto;
  
}
.Timer { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:48px;
	position:absolute;
	left:45px;
	top:232px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}

.Start { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:48px;
	position:absolute;
	left:45px;
	top:561px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.Falsch { 
	color:rgba(255, 255, 255, 1);
	width:123px;
	height:48px;
	position:absolute;
	left:1295px;
	top:561px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.TPH { 
	color:rgba(206.12500101327896, 53.248959481716156, 53.248959481716156, 1);
	width:81px;
	height:48px;
	position:absolute;
	left:59px;
	top:331px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}

.WPH { 
	color:rgba(255, 255, 255, 1);
	width:93px;
	height:48px;
	position:absolute;
	left:1303px;
	top:660px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.QPH { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
	width:86px;
	height:48px;
	position:absolute;
	left:59px;
	top:660px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.Quest_Txt { 
	color:rgba(255, 255, 255, 1);
	width:800px;
	height:48px;
	position:absolute;
	left:300px;
	top:310px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.correct{
    background: rgba(20.000000707805157, 174.00000482797623, 92.00000211596489, 1);
}
.incorrect{
    background: rgba(206.12500101327896, 53.248959481716156, 53.248959481716156, 1);
}